[Hue Bridge]
ip = 192.168.178.100
key = abcdefghijklmnopqrstuvwxyz

[Mail Account]
server = smtp.mail.com
port = 587
user = user@mail.com
name = Hue Bridge
password = secret

[Logging]
status = Letzer Wert
event = Neuer Wert
report = Sende Tagesbericht für {}
motion_detected = Bewegung am {}-Sensor erkannt
mail_sent = Nachricht gesendet
mail_failed = Nachrichtenübermittlung fehlgeschlagen: {}
mail_restricted = Nachrichtenübermittlung gem Einstellungen eingeschränkt
cfg_not_found = Konfigurationsdatei nicht gefunden: {}
cfg_write_error = Fehler beim Lesen der Konfiguration: {}
cfg_read_error = Fehler beim Schreiben der Konfiguration: {}
invalid_response = Ungültige Antwort von {}
timeout = Zeitüberschreitung bei Verbindung zu {}
exception = Unerwarteter Fehler: {}
suspended = Service {} wurde temporär deaktiviert
enabled = Service {} wurde wieder aktiviert

[Messaging]
report_subject = Täglicher Bericht - Sensordaten
alert_subject = Bewegungsalarm
report_text = Sensordaten vom {}
alert_text = Der {}-Sensor hat um {} Uhr eine Bewegung erkannt.
recipients = user@mail.com

[Motion Alert]
notify = yes
except = 27.08.23 16:00 - 12.09.23 10:00, 01.10.23 16:00 - 14.10.23 10:00
except_daily = 07:00 - 22:00
suspend = yes

[Service Descriptions]
device_power = Ladezustand der 2x AAA Batterien
light_level = Lichtsensor
temperature = Temperatursensor
motion = Bewegungssensor

