[Hue Bridge]
ip = 192.168.178.100
key = abcdefghijklmnopqrstuvwxyz

[Mail Account]
server = smtp.mail.com
port = 587
user = user@mail.com
name = Hue Bridge
password = secret

[Data Handling]
report_to = user@mail.com
attach = no
store = Reports

[Motion Alert]
notify = yes
notify_to = https://ntfy.sh/notify_me
notify_subject = Bewegungsalarm
notify_text = Der {}-Sensor hat um {} Uhr eine Bewegung erkannt.
except = 19.12.25 16:00 - 21.12.25 10:00, 27.12.25 16:00 - 01.01.26 10:00
except_daily = 07:00 - 22:00
suspend = yes

[Logging]
status = Letzer Wert
event = Neuer Wert
report = Sende Tagesbericht für {}
motion_detected = Bewegung am Sensor {} erkannt
msg_sent = Nachricht gesendet
msg_failed = Senden der Nachricht fehlgeschlagen: {}
msg_suspended = Benachrichtigungen im festgelegten Zeitintervall ausgesetzt
cfg_not_found = Konfigurationsdatei nicht gefunden: {}
cfg_write_error = Fehler beim Schreiben der Konfiguration: {}
cfg_read_error = Fehler beim Lesen der Konfiguration: {}
invalid_response = Ungültige Antwort von {}
timeout = Zeitüberschreitung bei Verbindung zu {}
exception = Unerwarteter Fehler: {}
suspended = Service '{}' wurde temporär deaktiviert
enabled = Service '{}' wurde wieder aktiviert
no_config = Keine Konfiguration
no_response = Keine Antwort oder keine IP-Adresse
data_read_success = Gespeicherte Daten für Service {} erfolgreich eingelesen
data_read_failed = Einlesen der gespeicherten Daten für Service {} fehlgeschlagen
no_data = Keine gespeicherten Daten für Service {}
ip_discovery = Starte Suche nach IP-Addresse ...
ip_discovered = Gefundene IP-Adresse: {}
no_update_service = Aktualisierung für Service {} fehlgeschlagen
monitor_started = Der Monitoring-Dienst wurde gestartet
monitor_not_ready = Die Hue Bridge ist nicht erreichbar. Der Monitoring-Dienst wird beendet
monitor_failed = Der Monitoring-Dienst wird aufgrund eines unerwarteten Fehlers ({}) beendet
monitor_stopped = Der Monitoring-Dienst wurde durch den Benutzer oder durch das System beendet

[Reporting]
report_subject = Täglicher Bericht - Sensordaten
report_header = Sensordaten vom {}
bridge_ip = Hue Bridge/Gateway IP-Adresse: {}/{}
notify_on_motion = Bei Bewegung benachrichtigen: {}
suspend_services = Während Sperrzeiten Dienste deaktivieren: {}
suppress_period = Sperrzeiten (Zeitraum): {}
suppress_daily = Sperrzeiten (Täglich): {}
motion_profile = Bewegungsprofil (Alle Sensoren)
source = Quelle
on = An
off = Aus

[Service Descriptions]
device_power = Ladezustand der 2x AAA Batterien
light_level = Lichtsensor
temperature = Temperatursensor
motion = Bewegungssensor

